---
title: Comitês
ascii: Comites
canonical_url: https://uspmun.com.br/comites.html
---

<div class="row">
    {% for comite in site.data.comites %}

    <div class="col-md-6 comite irregular irregular-block">
        <img id="forma-{{ comite.id }}" class="irregular forma-comite" src="{{ comite.forma_src }}">
        <a href="/comites/{{ comite.id }}.html" class="comiteButton">
            <img class="img-fluid center comite-img" src="/assets/images/Comites/{{ comite.id }}.png" alt="banner {{ comite.titulo }}">
            <h2 class="comite-titulo">{{ comite.titulo }}</h3>
            {% for frase in comite.frases %}

            <p class="comite-descricao">
                <strong>{{ frase.bold }}</strong> 
                {{ frase.regular }}
            </p>
            
            {% endfor %}
        </a>
    </div>

    {% endfor %}
</div>
