<!-- fixed-top -->
<nav class="navbar flex-column navbar-expand-lg outer-nav text-right p-0">
    <div class="row w-100">
        <div class="col-md-12 irregular text-right">
            <img id="forma-menu0" class="irregular" src="/assets/Formas/FormasMenu_PagInicial/FormaMenu0.png">
            <a href="/index.html" class="navbar-brand">
                <img class="img-fluid bar-logo" src="/assets/images/logo_branco-horizontal_mid.png" alt="Logo USPMUN">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-navbar">
                <i class="fas fa-bars"></i>
            </button>
        </div>
    </div>

    <div class="row w-100">
        <div class="col-md-10 pl-0">
            <div class="collapse navbar-collapse d-lg-flex irregular justify-content-end w-100" id="main-navbar">
                <img id="forma-menu1" class="irregular" src="/assets/Formas/FormasMenu_PagInicial/FormaMenu1.png">
                <ul class="navbar-nav flex-column pt-4 pt-md-5">
                    {% for page in site.data.navigation %}
                    <li class="nav-item text-right pr-3 pr-md-1">
                        <!-- | upcase -->
                        <a href="{{ page.link }}" class="nav-link pr-1">{{ page.name }}</a>
                    </li>
                    <hr class="menu">
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</nav>